body {
    background-color: rgb(153, 63, 63);
    height: 100vh;
  }

  h2{
    color: rgb(242, 159, 5);
  }

  h4{
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

  input{
    font-weight: 500;
    height: 35px;
    text-align: left;

  }
.container{
    margin-top: 370px;
  max-width: 600px;
  height: 350px;
  border: 2px solid rgb(99, 96, 96);
  background-color: rgb(94, 78, 78);
  text-align: center;
  align-items: center;
  
}

.btn {
    font-weight: 800;
    height: 40px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    background-color: rgb(242, 159, 5);
    
    
    
  }
  .btn:hover {
    font-weight: 700;
    height: 40px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    background-color: rgb(22, 126, 9);
   
    
  }