{% load static %}
{% load bootstrap4 %}
{% block content %}


<head> 
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <link rel="stylesheet" type="text/css" href="{% static 'css/generarpedido.css' %}">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head/>



<body> 
 <div class="container">
  <div class="alert alert-success" role="alert">
   <h4 class="alert-heading">Tu tienda virtual ha sido creada</h4>
   <h4 class="alert-heading">Bienvenido</h4>
   <h3 class="alert-heading">Volver a inicio</h3>
    
     <hr>
     <form id="login-form" class="form" action="/inicio/" method="POST">{% csrf_token %}
        <input type="submit" href="/login" id="agregar" value="Ir a inicio" class="btn btn-secondary" >
    </form>
  </div> 
 </div>
 {% endblock %}

<body/>