{% load static %}
{% load bootstrap4 %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!doctype html>
<!------ Include the above in your HEAD tag ---------->
<head>
 <title> Personalizacion </title>
 	<title>Personalizacion</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'midireccion/images/icons/favicon.ico' %}"/>
 <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'midireccion/vendor/bootstrap/css/bootstrap.min.css' %}">
 <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'midireccion/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
 <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'midireccion/vendor/animate/animate.css' %}">
 <!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'midireccion/vendor/css-hamburgers/hamburgers.min.css' %}">
 <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'midireccion/vendor/select2/select2.min.css' %}">
 <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'midireccion/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'midireccion/css/main.css' %}">
 <!--===============================================================================================-->
</head>


  
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
			
				<form id="login-form" class="form" action="/login/"  method="post" enctype="multipart/form-data">{% csrf_token %}
					<span class="login100-form-title">
					 Registro exitoso
					</span>
					<div class="wrap-input100 validate-input" data-validate = "caracter no permetido">
					   
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-picture-o" aria-hidden="true"></i>
						</span>
					</div>

                   




					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Aceptar
						</button>
					</div>



					<div class="text-center p-t-136">
						<a class="txt2" href="/inicio">
							Cancelar
							<i class="fa fa-arrow-left" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>


  <!--===============================================================================================-->	
	<script src="/static/login/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
	<script src="/static/login/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/login/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
	<script src="/static/login/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
	<script src="/static/login/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
  <!--===============================================================================================-->
	<script src="js/main.js"></script>
    {% bootstrap_javascript jquery='full' %}
</body>
